/*
font-family: 'Cairo', sans-serif;
font-family: 'EB Garamond', serif;
font-family: 'Titillium Web', sans-serif;
*/
*{
    box-sizing: border-box;
}

body {
    box-sizing: border-box;
    background-color: black;
    background-size: 100%;
    background-position: bottom;; 
    background-attachment: fixed;
    background-repeat: no-repeat;

}
#heading_text{
    padding: 20px;
    margin-left: auto;
    margin-right: auto;
    color: grey;
    border-radius: 15px;
    font-family: 'Cairo', sans-serif;
    font-weight: 850;
}
.footer{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    top: auto;
    color: grey;
    font-family: 'Cairo', sans-serif;
    text-align: center;
}
.footer p{
    padding: 20px;
    margin: auto;
}

#centered {
    position: absolute;
    top: 128px;
    left: 0;
    width: 1440px;
    height: 128px;
    color: grey;
    text-align: center;
    line-height: 25px;
    padding: 24px;
    font-size: 18px;
    font-family: 'Cairo', sans-serif;
}
canvas{
    position: absolute;
    top: 283px;
    left: 580px;
    border: 2px solid red;
    background-color: black;
}
#button_predict{
    position: absolute;
    top: 590px;
    left: 603px;
    display: inline-block;
    background-color: white;
    color: grey;
    width: 100px;
    height: 50px;
    border: 2px solid #F2AAAA;
    border-radius: 5px;
    font-family: 'Cairo', sans-serif;
    font-size: 20px;
}
#button_clear{
    position: absolute;
    top: 590px;
    left: 737px;
    display: inline-block;
    background-color: white;
    color: grey;
    width: 100px;
    height: 50px;
    border: 2px solid #F2AAAA;
    border-radius: 5px;
    font-family: 'Cairo', sans-serif;
    font-size: 20px;
}
#predictions {
    position: absolute;
    top: 335px;
    left: 1000px;
    color: grey;
    font-family: 'Titillium Web', sans-serif;
}
#prediction_heading{
    font-size: 50px;
    line-height: 60px;
}
#result{
    font-size: 60px;
    line-height: 60px;
}
#confidence{
    font-size: 20px;
}
